.preloader {
  width: 100%;
  position: relative;
  margin-top: 15%;

  &.small {
    margin-top: 7px;
    object {
      width: 140px;
      height: 140px;
    }
  }
  object {
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
